h1 {
    font-family: Courier, Impact, "Courier New";
	color: blue;
	background-color: yellow;
    font-size: x-large;
}
li {
    border: solid 2px pink;
    border-style: dotted;
    border-width: 20 px 10 px 3 px 1 px;
    font-family: Verdana;
}
h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #e62f9d;
    background-color: #ffebd1;
    border: 5 px rgb(104, 0, 0);
}

body{
    background-color: rgb(229, 252, 252);
}